 .u-section-1 {
  background-image: none;
  min-height: 690px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 750px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  margin: 110px auto 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 60px;
  width: 510px;
  margin: 110px 0 0;
}

.u-section-1 .u-list-1 {
  width: 350px;
  margin: 110px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 50px 50px;
  grid-template-columns: calc(50% - 25px) calc(50% - 25px);
  min-height: 55px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  box-shadow: -4px 4px 8px 0px rgba(102,102,102,1);
  text-shadow: -4px 4px 0 rgba(0,0,0,0);
  margin: 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  box-shadow: -4px 4px 8px 0px rgba(102,102,102,1);
  text-shadow: -4px 4px 0 rgba(0,0,0,0);
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 750px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  min-height: 700px;
  margin-top: 25px;
  margin-bottom: 0;
  height: auto;
  background-image: url("images/IMG_39631.jpeg");
  background-position: 48.15% 0%;
  background-size: 120%;
  box-shadow: -6px 6px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 558px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 410px;
  }

  .u-section-1 .u-image-1 {
    background-size: auto 120%;
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 760px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 725px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-1 {
    width: 300px;
  }

  .u-section-1 .u-list-1 {
    width: 190px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 147px;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-btn-1 {
    padding: 9px 40px;
  }

  .u-section-1 .u-btn-2 {
    padding: 9px 40px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 574px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1350px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 546px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-custom-html-1 {
    width: 400px;
    min-height: 120px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-list-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 754px;
  }

  .u-section-1 .u-image-1 {
    margin-bottom: 25px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1305px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 40px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 534px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-custom-html-1 {
    width: 320px;
    margin-top: 25px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 25px;
  }

  .u-section-1 .u-repeater-1 {
    grid-gap: 20px 20px;
    min-height: 148px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 475px;
  }
} .u-section-2 {
  background-image: url("images/AI-in-Production-AdobeStock_416968141-ftd.jpeg");
}

.u-section-2 .u-sheet-1 {
  min-height: 600px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 575px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 560px;
}

.u-section-3 .u-group-1 {
  min-height: 400px;
  margin-top: 30px;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-image-1 {
  width: 111px;
  height: 111px;
  margin: 30px auto 0;
}

.u-section-3 .u-text-2 {
  width: 200px;
  margin: 30px auto 0;
}

.u-section-3 .u-text-3 {
  width: 400px;
  margin: 20px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  box-shadow: -10px 10px 20px 0 rgba(0,0,0,0.4);
  text-shadow: -10px 10px 0 rgba(0,0,0,0);
  margin: 30px auto 0;
  padding: 8px 28px 8px 27px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-3 {
    width: 320px;
  }
} .u-section-4 {
  background-image: url("images/AI-in-Production-AdobeStock_416968141-ftd.jpeg");
}

.u-section-4 .u-sheet-1 {
  min-height: 600px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 575px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 500px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 580px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 100%;
  margin: 60px 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 460px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-group-1 {
  min-height: 159px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 385px;
  height: 129px;
  margin: 0 50px 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 460px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  letter-spacing: 4px;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px auto 0;
}

.u-section-5 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  box-shadow: -10px 10px 20px 0 rgba(0,0,0,0.4);
  text-shadow: -10px 10px 0 rgba(0,0,0,0);
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 40px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 500px;
  }

  .u-section-5 .u-image-1 {
    width: -10px;
    height: -3px;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 500px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 650px;
  }

  .u-section-5 .u-image-1 {
    height: 140px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 650px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-1 {
    min-height: 210px;
    width: 347px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-1 {
    height: 210px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 448px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 35px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 271px;
  }

  .u-section-5 .u-group-1 {
    width: 320px;
  }

  .u-section-5 .u-image-1 {
    height: 194px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 579px;
  }
} .u-section-6 {
  background-image: url("images/AI-in-Production-AdobeStock_416968141-ftd.jpeg");
}

.u-section-6 .u-sheet-1 {
  min-height: 600px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 500px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 600px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 100%;
  margin: 40px 0 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 500px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-group-1 {
  min-height: 440px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-image-1 {
  width: 383px;
  left: auto;
  object-position: 50% 0%;
  right: 0;
  box-shadow: -10px 10px 20px 0 rgba(0,0,0,0.4);
  text-shadow: -10px 10px 0 rgba(0,0,0,0);
}

.u-section-7 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-group-2 {
  min-height: 312px;
  box-shadow: -10px 10px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  width: 450px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 0 0 auto;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 30px 27px;
}

.u-section-7 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: auto;
}

.u-section-7 .u-line-1 {
  width: 240px;
  height: 3px;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-7 .u-text-2 {
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    height: auto;
  }

  .u-section-7 .u-group-2 {
    width: -10px;
    height: auto;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-line-1 {
    width: -70px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-image-1 {
    width: 290px;
    left: 5px;
    right: auto;
  }

  .u-section-7 .u-group-2 {
    min-height: 440px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 913px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 457px;
  }

  .u-section-7 .u-container-layout-1 {
    padding: 0 10px;
  }

  .u-section-7 .u-group-1 {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-image-1 {
    width: 360px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 416px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-group-2 {
    min-height: 345px;
    width: 490px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -36px;
    margin-bottom: -35px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 470px;
  }

  .u-section-7 .u-group-1 {
    width: 320px;
  }

  .u-section-7 .u-image-1 {
    left: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-7 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-7 .u-group-2 {
    min-height: 330px;
    width: 320px;
  }
}

.u-section-7 .u-group-2,
.u-section-7 .u-group-2:before,
.u-section-7 .u-group-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-group-2.u-group-2.u-group-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-7 .u-group-2.u-group-2.u-group-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-7 .u-container-layout:hover .u-group-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-7 .u-group-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-8 {
  background-image: url("images/AI-in-Production-AdobeStock_416968141-ftd.jpeg");
}

.u-section-8 .u-sheet-1 {
  min-height: 600px;
}

@media (max-width: 1199px) {
   .u-section-8 {
    background-position: 50% 50%;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 495px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 379px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 500px;
  }
} .u-section-9 {
  background-image: none;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-9 .u-sheet-1 {
  min-height: 1062px;
}

.u-section-9 .u-group-1 {
  margin-top: 0;
  margin-bottom: -58px;
  height: auto;
  min-height: 466px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-9 .u-text-1 {
  background-image: none;
  font-weight: normal;
  text-decoration: none solid rgb(255, 255, 255);
  letter-spacing: normal;
  margin: 30px auto 0;
}

.u-section-9 .u-slider-1 {
  min-height: 350px;
  width: 600px;
  height: auto;
  margin: 0 auto;
}

.u-section-9 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-9 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-9 .u-text-3 {
  font-size: 1.125rem;
  margin: 10px auto 0;
}

.u-section-9 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 4px auto 0;
}

.u-section-9 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-9 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-9 .u-text-7 {
  font-size: 1.125rem;
  margin: 10px auto 0;
}

.u-section-9 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 4px auto 0;
}

.u-section-9 .u-text-9 {
  margin: 20px auto 0 0;
}

.u-section-9 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-9 .u-text-10 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-9 .u-text-11 {
  font-size: 1.125rem;
  margin: 10px auto 0;
}

.u-section-9 .u-text-12 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 4px auto 0;
}

.u-section-9 .u-text-13 {
  margin: 20px auto 0 0;
}

.u-section-9 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-9 .u-text-14 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-9 .u-text-15 {
  font-size: 1.125rem;
  margin: 10px auto 0;
}

.u-section-9 .u-text-16 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 4px auto 0;
}

.u-section-9 .u-text-17 {
  margin: 20px auto 0 0;
}

.u-section-9 .u-container-layout-6 {
  padding: 30px 50px;
}

.u-section-9 .u-text-18 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-9 .u-text-19 {
  font-size: 1.125rem;
  margin: 10px auto 0;
}

.u-section-9 .u-text-20 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 4px auto 0;
}

.u-section-9 .u-text-21 {
  margin: 20px auto 0 0;
}

.u-section-9 .u-container-layout-7 {
  padding: 30px 50px;
}

.u-section-9 .u-text-22 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-9 .u-text-23 {
  font-size: 1.125rem;
  margin: 10px auto 0;
}

.u-section-9 .u-text-24 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 4px auto 0;
}

.u-section-9 .u-text-25 {
  margin: 20px auto 0 0;
}

.u-section-9 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-9 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

.u-section-9 .u-text-26 {
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: underline !important;
  margin: 20px auto 0;
}

.u-section-9 .u-slider-2 {
  min-height: 350px;
  width: 600px;
  height: auto;
  margin: 0 auto;
}

.u-section-9 .u-carousel-indicators-2 {
  position: absolute;
  bottom: 10px;
}

.u-section-9 .u-container-layout-8 {
  padding: 30px 50px;
}

.u-section-9 .u-text-27 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-9 .u-text-28 {
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-9 .u-text-29 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-9 .u-text-30 {
  margin: 20px auto 0;
}

.u-section-9 .u-container-layout-9 {
  padding: 30px 50px;
}

.u-section-9 .u-text-31 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-9 .u-text-32 {
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-9 .u-text-33 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-34 {
  margin: 0 auto 0 0;
}

.u-section-9 .u-container-layout-10 {
  padding: 30px 50px;
}

.u-section-9 .u-text-35 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-9 .u-text-36 {
  font-size: 1.125rem;
  margin: 10px auto 0;
}

.u-section-9 .u-text-37 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 4px auto 0;
}

.u-section-9 .u-text-38 {
  margin: 20px 0 0;
}

.u-section-9 .u-container-layout-11 {
  padding: 30px 50px;
}

.u-section-9 .u-text-39 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-9 .u-text-40 {
  font-size: 1.125rem;
  margin: 10px auto 0;
}

.u-section-9 .u-text-41 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 4px auto 0;
}

.u-section-9 .u-text-42 {
  margin: 20px auto 0 0;
}

.u-section-9 .u-carousel-control-3 {
  width: 50px;
  height: 50px;
  left: 0;
  top: auto;
  right: auto;
  bottom: 100px;
  position: absolute;
}

.u-section-9 .u-carousel-control-4 {
  width: 50px;
  height: 50px;
  left: auto;
  top: auto;
  right: 0;
  bottom: 100px;
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 937px;
  }

  .u-section-9 .u-group-1 {
    min-height: 490px;
    margin-top: 40px;
    margin-bottom: -143px;
    height: auto;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-9 .u-text-1 {
    font-weight: 700;
    text-decoration: underline !important;
    letter-spacing: 2px;
    margin-top: 0;
  }

  .u-section-9 .u-slider-1 {
    min-height: 415px;
  }

  .u-section-9 .u-carousel-control-3 {
    bottom: 66px;
  }

  .u-section-9 .u-carousel-control-4 {
    bottom: 66px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-slider-1 {
    min-height: 360px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-slider-2 {
    min-height: 400px;
  }

  .u-section-9 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-9 .u-group-1 {
    min-height: 410px;
  }

  .u-section-9 .u-slider-1 {
    min-height: 365px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-slider-2 {
    width: 540px;
  }

  .u-section-9 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-28 {
    margin-top: 0;
  }

  .u-section-9 .u-text-29 {
    margin-top: 0;
  }

  .u-section-9 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-32 {
    margin-top: 0;
  }

  .u-section-9 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 977px;
  }

  .u-section-9 .u-group-1 {
    margin-bottom: 20px;
  }

  .u-section-9 .u-slider-1 {
    min-height: 350px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-slider-2 {
    width: 340px;
  }
} .u-section-10 {
  background-image: url("images/AI-in-Production-AdobeStock_416968141-ftd.jpeg");
  margin-top: 20px;
}

.u-section-10 .u-sheet-1 {
  min-height: 600px;
}

@media (max-width: 1199px) {
   .u-section-10 {
    background-position: 50% 50%;
  }

  .u-section-10 .u-sheet-1 {
    min-height: 495px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 379px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 500px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 586px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: -58px;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 99px;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px;
}

.u-section-11 .u-group-elements-1 {
  width: 500px;
  min-height: 64px;
  margin: 49px 0 0 auto;
}

.u-section-11 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
}

.u-section-11 .u-text-1 {
  font-size: 1.5rem;
  margin: -51px 0 0 93px;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 292px;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px 30px 19px;
}

.u-section-11 .u-text-2 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 18px auto 0 0;
}

.u-section-11 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-11 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
}

.u-section-11 .u-container-layout-3 {
  padding: 10px;
}

.u-section-11 .u-icon-2 {
  width: 64px;
  height: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
}

.u-section-11 .u-container-layout-4 {
  padding: 10px;
}

.u-section-11 .u-icon-3 {
  width: 64px;
  height: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
}

.u-section-11 .u-container-layout-5 {
  padding: 10px;
}

.u-section-11 .u-icon-4 {
  width: 64px;
  height: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
}

.u-section-11 .u-layout-cell-3 {
  min-height: 391px;
}

.u-section-11 .u-container-layout-6 {
  padding: 30px 30px 0;
}

.u-section-11 .u-text-3 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 0 0 0 20px;
}

.u-section-11 .u-form-1 {
  height: 307px;
  width: 510px;
  margin: 11px 0 0;
}

.u-section-11 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 82px;
  }

  .u-section-11 .u-group-elements-1 {
    width: 410px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 241px;
  }

  .u-section-11 .u-layout-cell-3 {
    min-height: 322px;
  }

  .u-section-11 .u-text-3 {
    margin-left: 0;
  }

  .u-section-11 .u-form-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-11 .u-group-elements-1 {
    width: 300px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-11 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
  }

  .u-section-11 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-11 .u-form-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-group-elements-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-list-1 {
    width: 374px;
  }

  .u-section-11 .u-repeater-1 {
    min-height: 84px;
    grid-auto-columns: calc(50% - 5.0000025px);
  }

  .u-section-11 .u-layout-cell-3 {
    min-height: 417px;
  }

  .u-section-11 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 78px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 91px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-11 .u-group-elements-1 {
    height: auto;
    margin-top: 38px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 198px;
  }

  .u-section-11 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-11 .u-list-1 {
    width: auto;
  }

  .u-section-11 .u-repeater-1 {
    min-height: 87px;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-11 .u-layout-cell-3 {
    min-height: 211px;
  }

  .u-section-11 .u-text-3 {
    font-size: 1.5rem;
  }
}

.u-section-11 .u-icon-2,
.u-section-11 .u-icon-2:before,
.u-section-11 .u-icon-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-11 .u-icon-2.u-icon-2.u-icon-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-11 .u-icon-2.u-icon-2.u-icon-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-11 .u-container-layout:hover .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-11 .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-11 .u-icon-3,
.u-section-11 .u-icon-3:before,
.u-section-11 .u-icon-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-11 .u-icon-3.u-icon-3.u-icon-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-11 .u-icon-3.u-icon-3.u-icon-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-11 .u-container-layout:hover .u-icon-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-11 .u-icon-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-11 .u-icon-4,
.u-section-11 .u-icon-4:before,
.u-section-11 .u-icon-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-11 .u-icon-4.u-icon-4.u-icon-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-11 .u-icon-4.u-icon-4.u-icon-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-11 .u-container-layout:hover .u-icon-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-11 .u-icon-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}